main {
    margin: auto;
    max-width: 80%;
    padding: 40px 20px;
  }

  :root {
    --primary: #0B1184;
    --secondary: #146D7B;
    --tertiary: #350B84;
    --light: #751877;
    --dark: #646464;
    --darker: #000000;
    --error: #7e0505;
  }
  
  * {
    box-sizing: content-box;
  }
  
  html, body {
    min-height: 100%;
  }
  
  body {
    margin: 20px;
    padding: 15px;
    font-weight: 800;
    line-height: 2.0;
    font-size: 20px;
    background: #350B84;
    color: #146D7B;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 25px;
    margin: 10px;
    line-height: 1.5;
    color: #0B1184;
  }
  
  h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
    line-height: 1.5;
    color: #0B1184;
  }
  
  p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 15px;
    margin: 5px;
    line-height: 1.0;
    color: #751877;
  }
  
  a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 15px;
    margin: 5px;
    line-height: 1.0;
    color: #751877;
    border-radius: 10px;
    padding: 25px;
  }
  
  a:hover {
    text-decoration: #646464;
  }
  
  header {
    background: #000000;
  }
  
  img {
    max-width: 100%;
  }
  
  span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 30px;
    margin: 20px;
    background: #350B84;
    color: #146D7B;
  }
  
  nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 30px;
    margin: 20px;
    background-color: #000000;
    text-decoration: #646464;
  }

  li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 15px;
    margin: 5px;
    line-height: 1.0;
    color: #751877;
  }
  
  ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 15px;
    margin: 5px;
    line-height: 1.0;
    color: #751877;
  }
  
  form {
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 15px;
    margin: 5px;
    line-height: 1.0;
    background-color: #0B1184;
    color: #751877;
  }
  